<div id="pets-index">
  <div class="container">
    <h1> List of Available Pets </h1>

    <div class="list-group list-unstyled list-inline pet-list">
      <% @pets.all.each do |pet| %>
       <%=link_to pet_path(pet), class:"list-group-item pet-item", data:{:id => pet.id } do %>
        <%=pet.name%><br> 
        <%= image_tag pet.pet_image.url(:thumb) %>
      <%end%>
      <% end %>
    </div>
</div>

<script>
//what i would like to do is show only 2 more pets at a time whenever
//a show pets button is pressed. How could I do this?
  $(function(){
    $("a.load_pets").on("click", function(e){

    })
  })
</script>
</div>