<h1> Pet Name: <%=@pet.name%></h1>
<h2> Pet Breed:</h2>
   <%@pet.breeds.each do  |b| %>
      <h3><%= b.name %></h3>
   <% end %>



<h2> Pet Bio: <%=@pet.bio %></h2>
<h2> Pet Price: $<%=@pet.price%></h2>
