// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


pet-list>li{
 padding: 16px;
}

.pet-list a{
  display: inline-block;
  padding: 16px;
}