<div id="login" class="container">
      <form role="form" method="post" action= '/login'>
      <div class ="form-group">
        <label for="username"> Username:</label> 
        <input type="text" name="username" class="form-control"><br>
      </div>

      <div class="form-group">
        <label for="password"> Password: </label>
        <input type="password" name="password" class="form-control"><br>
      </div>

        <input type="submit" value="login" class="btn btn-default btn-lg">
      </form>

      <%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
</div>
 <!--      <form action ='/signup'>
      <input type="submit" value ="signup">
</form> -->



